streamlit==1.43.2
langchain==0.3.21
langchain-community
langchain-ollama
langchain-chroma
chromadb
unstructured==0.17.0
pdf2image==1.17.0
pytesseract==0.3.13
sentence-transformers==2.6.0
google-generativeai==0.3.2
